@charset "UTF-8";

/* 全ページの共通部分 */

html {
	font-size: 100%;
}

* {
	word-break: break-all;
	letter-spacing: 2px;
}

body {
	padding-top: 99px;
}

main {
	margin: 40px 0;
	font-size: 0.95rem;
}

main, .head-line-p, .cartCount {
	font-family: 'Work Sans', sans-serif;
}

.container {
	color: #444;
}

.link a, footer {
	color: #888;
}

header, footer {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 400;
	font-size: 1.075rem;
	padding: 35px 0;
}

header {
		width: 100%;
		background: #FFF;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 2;
}

header ul {
	list-style-type: none;
	width: 500px;
}

header a img {
	width: 25px;
	height: 25px;
}

.head-line-outer {
	background-color: #eaeaea;
}

.head-line-inner {
	height: 80px;
}

.head-line-p {
	margin: 0;
	font-size: 0.95rem;
}

footer div img {
		width: 40px;
		height: 40px;
		margin: 7px;
	}

footer p {
	letter-spacing: 0.125rem;
	margin: 0;
}

.footer-outer {
	background-color: #f5f5f5;
}

/* リンク */

.link a:hover {
	text-decoration: none;
	color: #000;
	transition: .5s;
}

.link-line {
  position: relative;
  display: inline-block;
}

.link-line::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #000;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .8s;
}

.link-line:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}


/* indexのCSS */

.top-visual {
	margin-top: 0px;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url(../img/bk2.png);
	background-size: cover;
	background-position: center;
}

.link-btn {
	margin: 50px 0;
}


/* accessのCSS */

.store-info {
	margin: 40px auto;
}

.map {
	margin-top: 30px;
	width: 100%;
}


/* loginのCSS */



/* productsのCSS */

.grid {
	display: grid;
	gap: 35px;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.product img {
	width: 100%;
}

/* productDetailsのCSS */

.productImg {
	max-width: 100%;
	height: auto;
	width /***/:auto;
}

.productImgWrap {
	margin: 0 auto;
}

.sentence {
	width: 400px;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}


/* cartのCSS */
.cartItemImg {
	height: 7rem;
	width: 7rem;
}

.cartItemName {
	width: 150px;
}

.cartCount {
	width: 22px;
	height: 22px;
	font-size: 0.67rem;
	padding-top: 0.25rem;
	padding-left: 0.18rem;
	font-weight: bold;
	text-align: center;
}
